:root {
  --background-color: #14120b;
  --light-bg: #1b1913;
  --text-color: #ececec;
  --ghost-bg: #ececec;
  --ghost-text: #14120b;
  --light-inner-color: #201e18;
  --secondary-background-color: #1b1913;
  --secondary-text-color: #f75712;
  --muted-text-color: #fffefe86;
  --site-header-height: 52px;
}

@font-face {
  font-family: cursor;
  src: url("./assets/CursorGothic-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  color: var(--text-color);
  font-family: "cursor";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: var(--background-color);
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.nav {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  height: var(--site-header-height);
}

.nav-inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  display: flex;
  width: 96px;
}

.hero-red-text {
  color: var(--secondary-text-color);
  font-size: 1rem;
}
.hero-primary-text {
  color: var(--primary-text-color);
  font-size: 1.375rem;
  line-height: 1.3;
}

.testimonial-primary-text {
  color: var(--primary-text-color);
  font-size: 0.9rem;
}
.testimonial-muted-text {
  color: var(--muted-text-color);
  font-size: 0.9rem;
}

.hero-muted-text {
  color: var(--muted-text-color);
  font-size: 1.375rem;
  line-height: 1.3;
}

.primary-text {
  color: var(--primary-text-color);
}

.muted-text {
  color: var(--muted-text-color);
}

.red-text {
  color: var(--secondary-text-color);
  font-size: 1rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-button {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.navbar-nav > li {
  font-size: 0.875rem;
  padding-inline: 1rem;
}

.btn {
  font-size: 0.875rem;
  border: 1px solid var(--ghost-bg);
  color: var(--ghost-text);
  cursor: pointer;
  background-color: var(--ghost-bg);
  border-radius: 3.40282e38px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: inline-flex;
  padding: 0.4em 0.75em 0.42em;
  font-weight: 400;
}

.btn-dark {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid rgba(202, 202, 202, 0.445);
}

.btn-download {
  font-size: 1rem;
  padding: 0.78em 1.35em 0.8em;
  font-weight: 400;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 4.2rem;
  gap: 3.5rem;
}

.hero-section .hero-text {
  font-size: 1.625rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 22.45px;
}

.company-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2.1rem;
}

.company-section > p {
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.company-trusted {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 10px;
  width: 100%;
}

.company-trusted-logo {
    display: flex;
    background-color: var(--secondary-background-color);
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 95px;
    border-radius: 4px;
    border: 0.5px solid rgba(255, 255, 255, 0.089);
}
.feature-section {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}

.feature-1,
.feature-2,
.feature-3 {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.095rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
}

.feature-4 {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
  margin-block: 8rem;
}


.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 30px 0 2.5px;
}

.feature-text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2.5px 0 30px;
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5rem 0;
  gap: 3.5rem;
}

.testimonial-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.testimonial-card {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  padding: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
  line-height: 25px;
}
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author-img {
  width: 40px;
  border-radius: 5px;
}

.testimonial-author > span {
  display: flex;
  flex-direction: column;
}

#testimonial-intro {
  font-size: 2rem;
}

.inner-usecase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1.5rem;
  gap: 0.65rem;
  margin-bottom: 10rem;
}

.usecase-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  gap: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
}

.changelog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.65rem;
  margin-block: 1.5rem;
}

.changelog-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
}

.changelog-date {
  display: flex;
  align-items: center;
  gap: 12px;
}

.highlight-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  gap: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.089);
}

.highlight-list {
  display: grid;
  gap: 0.5rem;
}

.highlight-inner {
  display: flex;
  gap: 4rem;
}

#highlight-intro {
  width: 300px;
}

.highlight-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight-item {
  width: 70%;
  background-color: var(--light-inner-color);
}

.highlights-section {
  margin-bottom: 5rem;
  background-color: var(--light-bg);
  padding-block: 5rem;
}

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
  margin-bottom: 3rem;
}

#try-cursor {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
}

footer {
  background-color: var(--light-bg);
  padding-top: 4rem;
  font-size: 0.9rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 1rem;
}

.footer-col-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
